<html>
    <head>
        <title>Mi sitio de Peliculas!</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <header class='header'>
            <p>Tu mejor site de Paliculas!</p>
            <nav>
            
            </nav>
        </header>
    </body>
</html>