<!-- Header del sitio -->
<header class="header">
<a class= "logo" href="/"><img src="/images/logo.png" alt="logotipo" ></a>

     <div class='form_crear'> 
        <form action="/movies/create" method="GET">	<button class= 'agregar' type="submit">Crear pelicula</button>	</form>
        
    </div>  
</header>

